.git/
.gitconfig
.git-credentials
.netrc
.ssh/
*.bak
*.backup
*-*.backup
.cache/
.zcompdump*
*.zwc
*.lock
.tmp/
.pki/
.dbus/
.termux_authinfo
.ICEauthority
.vnc/
*_history*
*history*
*.history*
.viminfo
.vscode-oss/
.android/
.npm/
.node_repl_history
