.git/
.gitconfig
.git-credentials
.netrc
.ssh/
.cache/
.zcompdump*
.pki/
.dbus/
.termux_authinfo
.ICEauthority
.vnc/
.bash_history
.zsh_history
.ash_history
.vscode-oss/
.android/
.npm/
.node_repl_history
.autostart
